---
import AvatarPicture from './avatar-picture.svg';
---

<div
  class="hover:shadow-comic size-32 overflow-hidden rounded-full border-4 border-black object-cover transition-shadow md:size-48 lg:size-64"
>
  <AvatarPicture class="relative -top-3 h-auto w-full" />
</div>
