---
import Card from './card.astro';

export type Props = {
  title: string;
  subTitle: string;
};

const { title, subTitle } = Astro.props;
---

<Card>
  <h1
    class="font-comic text-4xl font-bold tracking-wider uppercase md:text-5xl"
  >
    {title}
  </h1>
  <p class="mt-2 text-gray-700 dark:text-white">{subTitle}</p>
</Card>
